*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #E0F2FE;
    color: #0F172A;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #E0F2FE;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}