* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
}

::selection {
  background-color: #e0f2fe;
  color: #0f172a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0f2fe;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

.outer-wrapper {
  background-color: #f9fafb;
}

.app-wrapper {
  background-color: #f9fafb;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  border-left: 1px solid #e0f2fe;
  border-right: 1px solid #e0f2fe;
}
